/* Custom scrollbar for Chrome, Safari, and newer Edge */
.MuiAutocomplete-listbox::-webkit-scrollbar {
  width: 6px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 3px !important;
}

/* For Firefox */
.MuiAutocomplete-listbox {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.1) !important;
}
